@use "variables" as v;
.home{
    @include v.flex-box(column,wrap,center,center);
    .hero-seccion{
        background: linear-gradient(180deg,#000000 0%,#0f0f0f 50%,#000000 100%);
        text-align: center;
        padding: 40px;
        h1{
            font-size: 3rem;
            color: #e9e9e9;
        }
        p{
            font-size: 1.2;
            color: #b4b4b4;
        }
    }
    .grid-2{
        display: grid;
        color: white;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "img-iphone img-iphone"
        "desc-iphone desc-iphone"
        "img-samsung img-samsung"
        "desc-samsung desc-samsung"
        "img-xiaomi img-motorola"
        "desc-xiaomi desc-motorola";
        justify-items: center;
        align-items: center;
        background: linear-gradient(180deg,#000000 0%,#0f0f0f 50%,#000000 100%);
        .note-1{
            grid-area: img-iphone;
            text-align: center;
            padding: 20px;
            .carrito{
                width: 100%;
                height: auto;
                border-radius: 20px;
                transition: transform 1.3s ease;
            }&:hover{
                transform: translateY(-8px);
                box-shadow: 0 0 20px rgba(0, 123, 255, 0.3);
            }
        }
        .note-2{
            grid-area: desc-iphone;
            justify-items: center;
        }
        .cel-3{
            grid-area: img-samsung;
            text-align: center;
            .carrito{
                width: 100%;
                height: auto;
                transition: transform 1.3s ease;
            }&:hover{
                transform: translateY(-8px);
                box-shadow: 0 0 20px rgba(0, 123, 255, 0.3);
            }
        }
        .cel-4{
            grid-area: desc-samsung;
            justify-items: center;
            margin-top: 25px;
        }
        .note-5{
            grid-area: img-xiaomi;
            text-align: center;
            .carrito{
                width: auto;
                height: 55vh;
                border-radius: 20px;
                transition: transform 0.5s ease;
            }&:hover{
                transform: scale(1.02);
            }
        }
        .note-6{
            grid-area:desc-xiaomi;
            justify-items: center;
            margin-top: 25px;
        }
        .cel-7{
            grid-area: img-motorola;
            justify-items: center;
            text-align: center;
            .carrito{
                height:55vh;
                width: auto;
                border-radius: 20px;
                transition: transform 0.5s ease;
            }&:hover{
                transform: scale(1.02);
            }
        }
        .cel-8{
            grid-area: desc-motorola;
            height: 100%;
            justify-items: center;
            margin-top: 25px;
        }
    }
}
@include v.tablet{
    .home{
        .grid-2{
            display: flex;
            flex-flow: column wrap;
        }
    }
}
@include v.mobile{
    .home{
        .grid-2{
            display: flex;
            flex-flow: column wrap;
            .note-1{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
            .cel-3{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
            .note-5{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
            .cel-7{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}