@use "variables" as v;
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    background-color: rgb(45, 60, 128);
    .redsoc-link{
        display: flex;
        gap: 10px;
        li{
            list-style: none;
        }
        .logos-red-social{
            height: 5vh;
            width: auto;
        }
        .rs-wha{
            position: fixed;
            bottom: 60px;
            right: 50px;
            animation: vibrar 1s infinite ease;
        }
    }
    @include v.tablet{
        display: flex;
        flex-flow: column wrap;
    }
    @include v.mobile{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        .redsoc-link{
            .rs-wha{
                position: fixed;
                bottom: 40px;
                right: 10px;  
            }
        }
        h2{
            font-size: 1.05rem;
        }
    }
}
// animacion
@keyframes vibrar {
    10%{
        transform: translateY(5px);
    }
    20%{
        transform: translateX(5px);
    }
    30%{
        transform: translateX(-5px);
    }
    40%{
        transform: translateX(5px);
    }
    50%{
        transform: translateX(-5px);
    }
    60%{
        transform: translateX(5px);
    }
    70%{
        transform: translateX(-5px);
    }
    80%{
        transform: translateX(5px);
    }
    90%{
        transform: translateX(-5px);
    }
    100%{
        transform:rotateY(0)
    }
}