@use "variables" as v;
.home{
    @include v.flex-box(column,wrap,center,center);
    .grid-smartwatch{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: 
        "img-iphowatch img-samwatch"
        "des-iphowatch des-samwatch"
        "img-xiawatch img-xiawatch"
        "des-xiawatch des-xiawatch";
        justify-items: center;
        gap: 40px;
        background: linear-gradient(180deg,v.$fondo 0%,#f8f8f8 50% ,#ffffff 100%);
        padding: 40px;
        .note-1{
            grid-area: img-iphowatch;
            justify-items: center;
            text-align: center;
            .carrito{
                width: 52vw;
                height: auto;
                border-radius: 20px;
                box-shadow:0 10px 25px rgba(0,0,0,0.2);
                transition:all .3s ease;
            }&:hover{
                transform:translateY(-8px);
            }
        }
        .note-2{
            grid-area: des-iphowatch;
            justify-items: center;
        }
        .note-3{
            grid-area: img-samwatch;
            justify-items: center;
            text-align: center;
            .carrito{
                width: 30vw;
                height: auto;
                border-radius: 20px;
                box-shadow:0 10px 25px rgba(0,0,0,0.2);
                transition:all .3s ease;
            }&:hover{
                transform:translateY(-8px);
            }
        }
        .note-4{
            grid-area: des-samwatch;
            justify-items: center;
        }
        .wach-1{
            grid-area: des-xiawatch;
            justify-items: center;
            padding:0px 20px 0px 20px;
        }
        .wach-2{
            grid-area: img-xiawatch;
            justify-items: center;
            max-width: 500px;
            text-align: center;
            .carrito{
                width: 38vw;
                height: auto;
                border-radius: 20px;
                box-shadow:0 10px 25px rgba(0,0,0,0.2);
                transition:all .3s ease;
            }&:hover{
                transform:translateY(-8px);
            }
        }
    }
}
@include v.mobile{
    .home{
        .grid-smartwatch{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            justify-items: center;
            align-items: center;
            align-content: center;
            .note-1{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
            .note-3{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
            .wach-2{
                .carrito{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
}