@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: Lato;
}

header {
  position: sticky;
  top: 0;
  z-index: 1030;
}
header .logo {
  height: 40px;
  width: auto;
}
header .navbar-collapse {
  flex-grow: 0;
  flex-basis: 0;
}
header .nav-link:hover {
  color: #0d6efd;
}
header .active {
  color: #0d6efd;
  font-weight: bold;
  border-bottom: 2px solid #0d6efd;
}
@media (min-width: 480px) and (max-width: 960px) {
  header .navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .navbar {
    display: flex;
    flex-flow: column wrap;
  }
  header .navbar .navbar-collapse {
    flex-grow: 1;
    flex-basis: 100%;
  }
  header .navbar .navbar-collapse .nav-link {
    font-size: small;
  }
}

.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.home .grid-2 {
  display: grid;
  background-color: black;
  color: white;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img-iphone img-iphone" "desc-iphone desc-iphone" "img-samsung img-samsung" "desc-samsung desc-samsung" "img-xiaomi img-motorola" "desc-xiaomi desc-motorola";
  justify-items: center;
  align-items: center;
}
.home .grid-2 .note-1 {
  grid-area: img-iphone;
}
.home .grid-2 .note-1 .carrito {
  width: 98vw;
  height: auto;
}
.home .grid-2 .note-2 {
  grid-area: desc-iphone;
  justify-items: center;
}
.home .grid-2 .cel-3 {
  grid-area: img-samsung;
}
.home .grid-2 .cel-3 .carrito {
  width: 100%;
  height: auto;
}
.home .grid-2 .cel-4 {
  grid-area: desc-samsung;
  justify-items: center;
}
.home .grid-2 .note-5 {
  grid-area: img-xiaomi;
}
.home .grid-2 .note-5 .carrito {
  width: 100%;
  height: 55vh;
  border-radius: 20px;
}
.home .grid-2 .note-6 {
  grid-area: desc-xiaomi;
  justify-items: center;
}
.home .grid-2 .cel-7 {
  grid-area: img-motorola;
  background-color: rgb(0, 0, 0);
  justify-items: center;
}
.home .grid-2 .cel-7 .carrito {
  height: 55vh;
  width: auto;
  border-radius: 20px;
}
.home .grid-2 .cel-8 {
  grid-area: desc-motorola;
  background-color: rgb(0, 0, 0);
  height: 100%;
  justify-items: center;
}

@media (min-width: 480px) and (max-width: 960px) {
  .home .grid-2 {
    display: flex;
    flex-flow: column wrap;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .home .grid-2 {
    display: flex;
    flex-flow: column wrap;
  }
  .home .grid-2 .note-1 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-2 .cel-3 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-2 .note-5 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-2 .cel-7 .carrito {
    width: 100%;
    height: auto;
  }
}
.cont {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: #f6f6f6;
}
.cont .info {
  display: flex;
  align-items: center;
  gap: 60px;
}
.cont .info .bor {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  height: 45vh;
  justify-items: center;
  align-content: center;
}
.cont .info .bor .dato {
  margin-top: 20px;
}
.cont .info .bor .map {
  height: 30vh;
  width: auto;
}
.cont .info-form {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  width: 41vw;
}
.cont .info-form .form {
  display: flex;
  flex-flow: column wrap;
}
.cont .info-form .form input {
  width: 40vw;
  margin-top: 10px;
}
.cont .info-form .form textarea {
  width: 40vw;
  margin-top: 10px;
}
.cont .info-form .form .row-for {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40vw;
}
.cont .prev {
  width: 100%;
  height: 100px;
  justify-items: center;
  align-content: center;
  background-color: rgb(222, 177, 243);
}

@media (min-width: 300px) and (max-width: 479px) {
  .cont .info {
    display: flex;
    flex-flow: column;
  }
  .cont .info-form {
    width: 70vw;
  }
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  background-color: rgb(45, 60, 128);
}
footer .redsoc-link {
  display: flex;
  gap: 10px;
}
footer .redsoc-link li {
  list-style: none;
}
footer .redsoc-link .logos-red-social {
  height: 5vh;
  width: auto;
}
footer .redsoc-link .rs-wha {
  position: fixed;
  bottom: 60px;
  right: 50px;
}
@media (min-width: 480px) and (max-width: 960px) {
  footer {
    display: flex;
    flex-flow: column wrap;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }
  footer .redsoc-link .rs-wha {
    position: fixed;
    bottom: 40px;
    right: 10px;
  }
  footer h2 {
    font-size: 1.05rem;
  }
}

.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.home .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  background-color: black;
  color: white;
}
.home .grid-container .caja-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.home .grid-container .caja-2 {
  grid-column: 3/5;
  grid-row: 1/3;
}
.home .grid-container .caja-3 {
  grid-column: 1/3;
  grid-row: 3/5;
}
.home .grid-container .caja-4 {
  grid-column: 3/5;
  grid-row: 3/5;
}
.home .grid-container .presentacion {
  height: auto;
  width: 100%;
}
.home .uno {
  display: flex;
  gap: 30px;
  padding: 10px;
}
.home .uno .pres-destacado {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.home .uno .pres-destacado .destacados {
  height: 40vh;
  width: auto;
}
.home .prev {
  width: 100%;
  height: 100px;
  justify-items: center;
  align-content: center;
  background-color: rgb(222, 177, 243);
}
.home p {
  font-size: 1.15rem;
}
.home h1 {
  margin: 10px;
}
.home h2 {
  margin: 10px;
}

@media (min-width: 480px) and (max-width: 960px) {
  .uno {
    display: flex;
    flex-flow: column wrap;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .home .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "text-samsung" "imag-samsung" "text-iphone" "imag-iphone";
    align-items: center;
    gap: 20px;
  }
  .home .grid-container .caja-1 {
    grid-area: text-samsung;
    justify-items: center;
  }
  .home .grid-container .caja-2 {
    grid-area: imag-samsung;
  }
  .home .grid-container .caja-3 {
    grid-area: imag-iphone;
  }
  .home .grid-container .caja-4 {
    grid-area: text-iphone;
    justify-items: center;
  }
  .home .grid-container h1 {
    font-size: 1.15rem;
  }
  .home .grid-container h2 {
    font-size: 1.1rem;
  }
  .home .grid-container span {
    font-size: 1.05rem;
  }
  .home .grid-container p {
    font-size: 1rem;
    padding: 10px;
  }
  .home .uno {
    display: flex;
    flex-flow: column wrap;
  }
  .home .prev p {
    font-size: small;
  }
}
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.home .grid-notebook {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img-mac img-mac" "desc-mac desc-mac" "img-dell img-lenovo" "desc-dell desc-lenovo";
  justify-items: center;
  align-items: center;
}
.home .grid-notebook .note-1 {
  grid-area: img-dell;
}
.home .grid-notebook .note-2 {
  grid-area: desc-dell;
  justify-items: center;
}
.home .grid-notebook .note-3 {
  grid-area: img-lenovo;
}
.home .grid-notebook .note-4 {
  grid-area: desc-lenovo;
  justify-items: center;
}
.home .grid-notebook .note-5 {
  grid-area: img-mac;
  background-color: black;
  justify-items: center;
}
.home .grid-notebook .note-5 .collapse {
  justify-items: center;
}
.home .grid-notebook .note-5 p {
  color: white;
  padding: 0 60px 0 60px;
}
.home .grid-notebook .note-5 h2 {
  color: white;
}
.home .grid-notebook .note-5 .carrito {
  width: 100%;
  height: auto;
}
.home .grid-notebook .note-6 {
  grid-area: desc-mac;
  justify-items: center;
}

@media (min-width: 480px) and (max-width: 960px) {
  .home .grid-notebook {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "img-mac" "desc-mac" "img-dell" "desc-dell" "img-lenovo" "desc-lenovo";
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .home .grid-notebook {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "img-mac" "desc-mac" "img-dell" "desc-dell" "img-lenovo" "desc-lenovo";
  }
  .home .grid-notebook .note-1 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-notebook .note-3 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-notebook .note-5 .carrito {
    width: 100%;
    height: auto;
  }
}
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.home .grid-smartwatch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img-iphowatch img-samwatch" "des-iphowatch des-samwatch" "img-xiawatch img-xiawatch" "des-xiawatch des-xiawatch";
  justify-items: center;
  gap: 30px;
  background-color: #f6f6f6;
}
.home .grid-smartwatch .note-1 {
  grid-area: img-iphowatch;
  justify-items: center;
}
.home .grid-smartwatch .note-1 .carrito {
  width: 52vw;
  height: auto;
}
.home .grid-smartwatch .note-2 {
  grid-area: des-iphowatch;
  justify-items: center;
}
.home .grid-smartwatch .note-3 {
  grid-area: img-samwatch;
  justify-items: center;
}
.home .grid-smartwatch .note-3 .carrito {
  width: 30vw;
  height: auto;
}
.home .grid-smartwatch .note-4 {
  grid-area: des-samwatch;
  justify-items: center;
}
.home .grid-smartwatch .wach-1 {
  grid-area: des-xiawatch;
  justify-items: center;
  padding: 0px 20px 0px 20px;
}
.home .grid-smartwatch .wach-2 {
  grid-area: img-xiawatch;
  justify-items: center;
}
.home .grid-smartwatch .wach-2 .carrito {
  width: 38vw;
  height: auto;
  border-radius: 15px;
}

@media (min-width: 300px) and (max-width: 479px) {
  .home .grid-smartwatch {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  .home .grid-smartwatch .note-1 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-smartwatch .note-3 .carrito {
    width: 100%;
    height: auto;
  }
  .home .grid-smartwatch .wach-2 .carrito {
    width: 100%;
    height: auto;
  }
}
.home {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.home .grid-tab {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "img-ipad img-ipad" "des-ipad des-ipad" "img-tabgalaxy des-tabgalaxy" "img-tadredmi img-ideatab" "des-tabredmi des-ideatab";
}
.home .grid-tab .note-1 {
  grid-area: img-ipad;
  background-color: black;
  width: 100%;
}
.home .grid-tab .note-1 h2 {
  color: white;
}
.home .grid-tab .note-1 .carrito {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.home .grid-tab .note-2 {
  grid-area: des-ipad;
  padding: 20px;
  background-color: black;
  color: white;
}
.home .grid-tab .cel-3 {
  grid-area: img-tabgalaxy;
  background-color: black;
  justify-items: center;
  color: white;
}
.home .grid-tab .cel-3 .carrito {
  width: 45vw;
  height: auto;
  border-radius: 20px;
}
.home .grid-tab .cel-4 {
  grid-area: des-tabgalaxy;
  background-color: black;
  color: white;
  padding: 20px;
}
.home .grid-tab .tab-5 {
  grid-area: img-tadredmi;
  justify-items: center;
}
.home .grid-tab .tab-5 .carrito {
  width: 45vw;
  height: auto;
  border-radius: 20px;
}
.home .grid-tab .tab-6 {
  grid-area: des-tabredmi;
  padding: 15px;
}
.home .grid-tab .tab-7 {
  grid-area: img-ideatab;
  justify-items: center;
}
.home .grid-tab .tab-7 .carrito {
  width: 45vw;
  height: auto;
  border-radius: 20px;
}
.home .grid-tab .tab-8 {
  grid-area: des-ideatab;
  padding: 20px;
}

/*# sourceMappingURL=styles.css.map */
